/* @font-face {
  font-family: Silver;
  src: url(https://googleusercontent.b-cdn.net/ovo/silver.ttf);
} */

@font-face {
  font-family: Retron2000;
  src: url(https://googleusercontent.b-cdn.net/ovo/retron2000.ttf);
}
